<!DOCTYPE html>
<html>
<head>
<title>{{{title}}}</title>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
{{{style}}}
{{{mermaid}}}
</head>
<body>
  <header>
    <nav role="navigation">
      <div>
        <div>
          <a href="{{{relativeToTop}}}index.html" accesskey="h" title="[H]">
            <img src="{{{relativeToTop}}}images/logo.png" alt="最所研究室" height="20">
            <span>最所研究室</span>
          </a>
        </div>
      </div>
    </nav>
  </header>
  <hr>
  <aside>
  <ul>
  <li><a href="{{{relativeToTop}}}index.html">トップページ</a></li>
  <li><a href="{{{relativeToTop}}}wiki/assign.html">研究室配属</a></li>
  <li><a href="{{{relativeToTop}}}wiki/theme.html">研究テーマ</a></li>
  <li><a href="{{{relativeToTop}}}wiki/member.html">研究室メンバー</a></li>
  <li><a href="{{{relativeToTop}}}wiki/thesis.html">学位論文タイトルリスト</a></li>
  <li><a href="{{{relativeToTop}}}wiki/result.html">業績リスト</a></li>
  <li><a href="{{{relativeToTop}}}workshop/okayama.html">合同研究会</a></li>
  <li><a href="{{{relativeToTop}}}member/index.html">メンバー用Wiki</a></li>
  </ul>
  </asize>
{{{content}}}
</body>
</html>
